<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Success</h1>
        <p class="lead">You have made it</p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Logout" role="button">Try again</a>
        </p>
    </div>
</div>